client/node_modules
client/dist
client/dist-ssr
client/*.local
client/package-lock.json
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

server/uploads

server/node_modules
server/dist
server/dist-ssr
server/*.local
server/storyboard.db
